---
import Layout from '../layouts/Layout.astro';
---

<Layout title="UMLA - Alpha Wann">
	<main class="relative">
		<section class="hero-section h-full">
			<img src="/alpha_wann.png" alt="UMLA Alpha Wann" class="absolute bottom-0 left-0 h-full" />
			<h2 class="absolute bottom-14 left-12 mix-blend-difference leading-[.9] right-[20%] text-[175px] italic uppercase text-white font-black">
				Une main lave l'autre
			</h2>
			<div class="flex fixed w-full px-10 py-5 items-center justify-between">
				<h1 class="text-5xl text-umla-yellow font-black italic">UMLA</h1>
				<div class="flex items-center gap-6">
					<button class="btn">
						Don Dada
					</button>
					<button class="btn btn-primary">
						<span class="inline-block skew-x-12">Concerts</span>
					</button>
				</div>
			</div>
			<div class="flex flex-col justify-between items-end h-full">
				<div class="h-28" />
				<h3 class="-rotate-90 uppercase text-white text-5xl tracking-wide font-roswell -mr-2">Alpha Wann</h3>
				<img src="/dondada-logo.png" alt="Don Dada" style="" class="mr-7 h-36" />
			</div>
		</section>
		<section class="bg-umla-dark-blue h-full">
			
		</section>
	</main>
</Layout>

<style>
	.hero-section {
		background: linear-gradient(180deg, rgba(42,133,184,1) 0%, rgba(69,163,157,1) 50%, rgba(193,178,118,1) 85%);
	}

	h1 {
		text-edge: cap alphabetic;
		text-box-trim: both;
  	text-box-edge: cap alphabetic;
		leading-trim: both;
	}
</style>